html,body{
    width: 50%;
    margin: 0 auto;
    background-color: black;
    color: white;
}
.container{
    width: 400px;
}
.para{
    cursor:pointer;
    font-size: 20px;
    background-color: red;
    margin: 10;
    border-radius: 0.4rem;
    color: aqua;
    padding: 1.1rem;
    transition: all 0.5s ease-in-out;
}
.para:hover{
    transform: scale(1.9);
}